<section id="contact" class="flex flex-col">
    <div class="flex items-center justify-center">
        <svg
        {...Astro.props}
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path><path
          d="M6 21v-2a4 4 0 0 1 4 -4h4"></path><path d="M15 19l2 2l4 -4"></path></svg
      >
      <h3>Sobre mí</h3>
    </div>

  <div class="flex gap-16 mt-10 abaoutme">
    <article>
      <p>
        ¡Hola! Soy Jesús, llevo 3 años dedicándome al desarrollo software a
        nivel profesional, principalmente enfocado al desarrollo web, aunque
        también tengo experiencias en back-end.
      </p>
      <p>
        Además, estoy acostumbrado a tener trato directo con los respectivos
        clientes. Algo sobre mí que me gusta destacar es que, considero que soy
        autodidacta y tiene interés por nuevas tecnologías. 
      </p>

      <p>Si deseas seguir
        conociendo mi perfil... ¡tendrás que <strong class="text-yellow-400">contactar</strong> conmigo!</p>
    </article>
    <article class="">
        <p class="text-yellow-400 font-semibold">Por aquí te dejo algunas opciones de contacto:</p>
      <div class="flex mb-8 items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="30"
          width="30"
          viewBox="0 49.4 512 399.42"
        >
          <g fill="none" fill-rule="evenodd">
            <g fill-rule="nonzero">
              <path
                fill="#4285f4"
                d="M34.91 448.818h81.454V251L0 163.727V413.91c0 19.287 15.622 34.91 34.91 34.91z"
              ></path>
              <path
                fill="#34a853"
                d="M395.636 448.818h81.455c19.287 0 34.909-15.622 34.909-34.909V163.727L395.636 251z"
              ></path>
              <path
                fill="#fbbc04"
                d="M395.636 99.727V251L512 163.727v-46.545c0-43.142-49.25-67.782-83.782-41.891z"
              ></path>
            </g>
            <path
              fill="#ea4335"
              d="M116.364 251V99.727L256 204.455 395.636 99.727V251L256 355.727z"
            ></path>
            <path
              fill="#c5221f"
              fill-rule="nonzero"
              d="M0 117.182v46.545L116.364 251V99.727L83.782 75.291C49.25 49.4 0 74.04 0 117.18z"
            ></path>
          </g>
        </svg>
        <a href="mailto:jesusjimenezfp@gmail.com"> jesusjimenezfp@gmail.com</a>
      </div>

     
      <div class="flex items-center">
      <svg
        width="30"
        height="30"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
        viewBox="0 0 256 256"
        ><path
          d="M218.123 218.127h-37.931v-59.403c0-14.165-.253-32.4-19.728-32.4-19.756 0-22.779 15.434-22.779 31.369v60.43h-37.93V95.967h36.413v16.694h.51a39.907 39.907 0 0 1 35.928-19.733c38.445 0 45.533 25.288 45.533 58.186l-.016 67.013ZM56.955 79.27c-12.157.002-22.014-9.852-22.016-22.009-.002-12.157 9.851-22.014 22.008-22.016 12.157-.003 22.014 9.851 22.016 22.008A22.013 22.013 0 0 1 56.955 79.27m18.966 138.858H37.95V95.967h37.97v122.16ZM237.033.018H18.89C8.58-.098.125 8.161-.001 18.471v219.053c.122 10.315 8.576 18.582 18.89 18.474h218.144c10.336.128 18.823-8.139 18.966-18.474V18.454c-.147-10.33-8.635-18.588-18.966-18.453"
          fill="#0A66C2"></path></svg
      >
      <a target="_blank"
        href="https://www.linkedin.com/in/jes%C3%BAs-jim%C3%A9nez-dillana-a0bb60159/"
      >
        ¡Descubre mi Linkedin!</a
      >
    </div>
    </article>
  </div>
</section>

<style>
  section {
    padding: 40px;
  }

  svg {
    margin-right: 20px;
  }

  p {
    margin-bottom: 20px;
    font-weight: 600;
  }

  h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
  }

  @media only screen and (max-width: 1100px) {
    .abaoutme {
        flex-direction: column;
    }
  }
</style>
